<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
<title>Adiciona - Setor</title>
</head>
<body>
	<div class="container mt-4">
	
	<h3>Formulario novo setor</h3>

		<form class="row g-3" action="/setor/formularioAdicionaSetor" method="post">

			<div class="col-md-12">
				<label class="form-label" name="nomeDoSetor">Nome</label> <input
					class="form-control" type="text" name="nomeDoSetor">
			</div>

			<div class="col-md-12">
				<button class="btn btn-primary" type="submit">Salvar</button>
			</div>

		</form>

	</div>
</body>
</html>